@{
    ViewBag.Title = "Autor";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        - Graudando em Tecnologia em Análise e Desenvolvimento de Sistemas - Faculdade de Tecnologia - Unicamp - Limeira / SP
    </p>

    <p>
        - Profissional da área de desenvolvimento e análises de sistemas na empresa EagleRay Software - Jundiai / Sp
    </p>
    <h3>PERFIL PROFISSIONAL</h3>
    <p>
    •	Linguagens C/C++, C#.NET, MVC, Asp.Net, Java Script, Jquery, Css, Java JEE
</p>
    <p>
    •	Banco de dados SQL Server / Postgres / My Sql
        </p>
    <p>
    •	Ferramentas de controle de versão (SVN, GIT, TFS) 
        </p>
    <p>
    •	Desenvolvimento de aplicações para dispositivos móveis Android
        </p>
    <p>
    •	Testes Unitários e Modelagem UML
        </p>
    <p>
    •	Análise de requisitos, desenv. especificação funcional, desenho banco de dados
        </p>
    <p>
    •	Avançados em SO Windows XP/Vista/7/Server 2008/Linux - Bd SQL, Exchange, AD, Firewal, sistemas de backup, pacote Office, servidores IBM/HP/DELL
        </p>
    <p>
    •	Administração de Infra-Estrutura de TI, gerenciamento de redes, redes sem-fio
        </p>
    <p>
    •	Implantação/operação de sistemas SAP/ERP, Microsiga, Totvs
        </p>
    <p>
    •	Protocolos de rede TCP/IP, switches, vlans, roteadores, firewall
    </p>
</article>

<aside>
    <h3>Contato</h3>
    <p>
        Email: pacefico@gmail.com
    </p>
    <p>
        Linkedin: br.linkedin.com/pub/paulo-figueiredo/30/1a0/20a/ 
    </p>
@*    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>*@
</aside>